<a href="https://colab.research.google.com/github/Ahsanbeg/Multiple-Disease-Prediction/blob/main/Thyroid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

%matplotlib inline
sns.set(rc={'figure.figsize': [20, 20]}, font_scale=1.4)

ModuleNotFoundError: No module named 'statsmodels'

In [ ]:
df = pd.read_csv('/content/hypothyroid.csv')
df

In [ ]:
df.head()

In [ ]:
df.describe().T

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df["binaryClass"].value_counts()

In [ ]:
df["binaryClass"]=df["binaryClass"].map({"P":0,"N":1})

In [ ]:
df["pregnant"].value_counts()

In [ ]:
df=df.replace({"t":1,"f":0})

In [ ]:
df

In [ ]:
df['sex'].isnull().sum()

In [ ]:
df["TBG"].value_counts()

In [ ]:
del df["TBG"]

In [ ]:
df=df.replace({"?":np.NAN})

In [ ]:
df.isnull().sum()

In [ ]:
df["sex"].value_counts()

In [ ]:
df=df.replace({"F":1,"M":0})

In [ ]:
df["referral source"].value_counts()

In [ ]:
df = df.drop(["referral source"], axis=1)

In [ ]:
df.info()

In [ ]:
df["T3 measured"].value_counts()

In [ ]:
df["TT4 measured"].value_counts()

In [ ]:
df["FTI measured"].value_counts()

In [ ]:
df["TBG measured"].value_counts()

In [ ]:
df["binaryClass"].value_counts()

In [ ]:
df.dtypes

In [22]:
cols = df.columns[df.dtypes.eq('object')]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
df.dtypes

age                          float64
sex                          float64
on thyroxine                   int64
query on thyroxine             int64
on antithyroid medication      int64
sick                           int64
pregnant                       int64
thyroid surgery                int64
I131 treatment                 int64
query hypothyroid              int64
query hyperthyroid             int64
lithium                        int64
goitre                         int64
tumor                          int64
hypopituitary                  int64
psych                          int64
TSH measured                   int64
TSH                          float64
T3 measured                    int64
T3                           float64
TT4 measured                   int64
TT4                          float64
T4U measured                   int64
T4U                          float64
FTI measured                   int64
FTI                          float64
TBG measured                   int64
referral source              float64
binaryClass                    int64
dtype: object

In [23]:
df.isnull().sum()

age                             1
sex                          3772
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           369
T3 measured                     0
T3                            769
TT4 measured                    0
TT4                           231
T4U measured                    0
T4U                           387
FTI measured                    0
FTI                           385
TBG measured                    0
referral source              3772
binaryClass                     0
dtype: int64

In [24]:
df['T4U measured'].mean()

np.float64(0.8974019088016967)

In [25]:
df['T4U measured'].fillna(df['T4U measured'].mean(), inplace=True)

C:\Users\tharu\AppData\Local\Temp\ipykernel_16124\2815094702.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['T4U measured'].fillna(df['T4U measured'].mean(), inplace=True)

In [26]:
df['sex'].fillna(df['sex'].mean(), inplace=True)

C:\Users\tharu\AppData\Local\Temp\ipykernel_16124\2421622677.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['sex'].fillna(df['sex'].mean(), inplace=True)

In [27]:
df['age'].fillna(df['age'].mean(), inplace=True)

C:\Users\tharu\AppData\Local\Temp\ipykernel_16124\1503503937.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean(), inplace=True)

In [28]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

In [29]:
df['TSH'] = imputer.fit_transform(df[['TSH']])

In [30]:
df['T3'] = imputer.fit_transform(df[['T3']])

In [31]:
df['TT4'] = imputer.fit_transform(df[['TT4']])

In [32]:
df['T4U'] = imputer.fit_transform(df[['T4U']])

In [33]:
df['FTI'] = imputer.fit_transform(df[['FTI']])

In [34]:
df.isnull().sum()

age                             0
sex                          3772
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                             0
T3 measured                     0
T3                              0
TT4 measured                    0
TT4                             0
T4U measured                    0
T4U                             0
FTI measured                    0
FTI                             0
TBG measured                    0
referral source              3772
binaryClass                     0
dtype: int64

In [35]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,binaryClass
0,41.0,NaN,0,0,0,0,0,0,0,0,...,2.5000,1,125.000000,1,1.140,1,109.000000,0,NaN,0
1,23.0,NaN,0,0,0,0,0,0,0,0,...,2.0000,1,102.000000,0,0.995,0,110.469649,0,NaN,0
2,46.0,NaN,0,0,0,0,0,0,0,0,...,2.0135,1,109.000000,1,0.910,1,120.000000,0,NaN,0
3,70.0,NaN,1,0,0,0,0,0,0,0,...,1.9000,1,175.000000,0,0.995,0,110.469649,0,NaN,0
4,70.0,NaN,0,0,0,0,0,0,0,0,...,1.2000,1,61.000000,1,0.870,1,70.000000,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30.0,NaN,0,0,0,0,0,0,0,0,...,2.0135,0,108.319345,0,0.995,0,110.469649,0,NaN,0
3768,68.0,NaN,0,0,0,0,0,0,0,0,...,2.1000,1,124.000000,1,1.080,1,114.000000,0,NaN,0
3769,74.0,NaN,0,0,0,0,0,0,0,0,...,1.8000,1,112.000000,1,1.070,1,105.000000,0,NaN,0
3770,72.0,NaN,0,0,0,0,0,0,0,0,...,2.0000,1,82.000000,1,0.940,1,87.000000,0,NaN,0
3771,64.0,NaN,0,0,0,0,0,0,0,0,...,2.2000,1,99.000000,1,1.070,1,92.000000,0,NaN,0

In [36]:
df.columns

Index(['age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'referral source',
       'binaryClass'],
      dtype='object')

In [37]:
df.to_csv('prepocessed_hyperthyroid.csv')

In [38]:
x = df.drop('binaryClass', axis=1)
y = df['binaryClass']

In [39]:
df.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source,binaryClass
0,41.0,NaN,0,0,0,0,0,0,0,0,...,2.5000,1,125.0,1,1.140,1,109.000000,0,NaN,0
1,23.0,NaN,0,0,0,0,0,0,0,0,...,2.0000,1,102.0,0,0.995,0,110.469649,0,NaN,0
2,46.0,NaN,0,0,0,0,0,0,0,0,...,2.0135,1,109.0,1,0.910,1,120.000000,0,NaN,0
3,70.0,NaN,1,0,0,0,0,0,0,0,...,1.9000,1,175.0,0,0.995,0,110.469649,0,NaN,0
4,70.0,NaN,0,0,0,0,0,0,0,0,...,1.2000,1,61.0,1,0.870,1,70.000000,0,NaN,0

In [40]:
x.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,referral source
0,41.0,NaN,0,0,0,0,0,0,0,0,...,1,2.5000,1,125.0,1,1.140,1,109.000000,0,NaN
1,23.0,NaN,0,0,0,0,0,0,0,0,...,1,2.0000,1,102.0,0,0.995,0,110.469649,0,NaN
2,46.0,NaN,0,0,0,0,0,0,0,0,...,0,2.0135,1,109.0,1,0.910,1,120.000000,0,NaN
3,70.0,NaN,1,0,0,0,0,0,0,0,...,1,1.9000,1,175.0,0,0.995,0,110.469649,0,NaN
4,70.0,NaN,0,0,0,0,0,0,0,0,...,1,1.2000,1,61.0,1,0.870,1,70.000000,0,NaN

In [41]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: binaryClass, dtype: int64

In [42]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [43]:
print(x.shape, x_train.shape, x_test.shape)

(3772, 28) (3017, 28) (755, 28)

## **Feature Selection- Dropping constant features**

In [44]:
x_train = x_train.drop(['FTI', 'FTI measured', 'T4U measured', 'TT4 measured','query on thyroxine','on antithyroid medication','sick', 'pregnant','thyroid surgery','I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary','psych' , 'TSH measured', 'T4U', 'TBG measured'],axis=1)
x_test = x_test.drop(['FTI', 'FTI measured', 'T4U measured', 'TT4 measured','query on thyroxine','on antithyroid medication','sick', 'pregnant','thyroid surgery','I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary','psych' , 'TSH measured', 'T4U', 'TBG measured'],axis=1)

In [45]:
x_train.columns

Index(['age', 'sex', 'on thyroxine', 'TSH', 'T3 measured', 'T3', 'TT4',
       'referral source'],
      dtype='object')

## **Model Training**

In [46]:
model = LogisticRegression()

In [47]:
model.fit(x_train, y_train)

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

In [ ]:
# accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [ ]:
print('Accuracy on Test data : ', test_data_accuracy)

In [ ]:
input_data = (44,0,0,45,1,1.4,39)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a HyperThyroid Disease')
else:
  print('The Person has HyperThyroid Disease')

## **Saving the trained model**

In [48]:
import pickle

In [49]:
filename = 'Thyroid_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [50]:
# loading the saved model
loaded_model = pickle.load(open('Thyroid_model.sav', 'rb'))

In [51]:
for column in x_train.columns:
  print(column)

age
sex
on thyroxine
TSH
T3 measured
T3
TT4
referral source

In [52]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3017 entries, 2661 to 3174
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              3017 non-null   float64
 1   sex              0 non-null      float64
 2   on thyroxine     3017 non-null   int64
 3   TSH              3017 non-null   float64
 4   T3 measured      3017 non-null   int64
 5   T3               3017 non-null   float64
 6   TT4              3017 non-null   float64
 7   referral source  0 non-null      float64
dtypes: float64(6), int64(2)
memory usage: 212.1 KB